<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url('static', filename='images/favicon.ico') }}">
    <title>Create aio app</title>
    <link
            rel="stylesheet"
            href="{{ url('static', filename='styles/main.css') }}"
    >
</head>
<body>
<header class="header">
    Quiz question List
</header>
<main>
    <ul id="quiz_question_list">
        {% for question_title, answers in quiz_questions|groupby('content') %}
        <lin>
            {{ question_title }} ?
            <ul>
                {% for answer in answers %}
                    <li><a href="{{ url('check_answer', answer_id=answer.id) }}">{{answer.value}}</a></li>
                {% endfor %}
            </ul>
        </lin>
        {% endfor %}
    </ul>
</main>
<footer class="footer"></footer>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const quizQuestionList = document.getElementById('quiz_question_list');
        quizQuestionList.addEventListener('click', async (e) => {
            e.preventDefault();
            if (e.target.tagName === 'A' && e.target.href) {
                let response = await fetch(e.target.href, {
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    }
                });
                // let data = await response.json();
                console.log(response);
            }

        });
    });
</script>
</body>
</html>
